name: JMeter Performance Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  performance-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Instalar JMeter
        run: |
          sudo apt update
          sudo apt install -y jmeter

      - name: Executar Testes de Performance
        run: |
          # Executando o JMeter para rodar os testes de performance
          jmeter -n -t testes/performance.jmx -l resultados.jtl
          
          # Gerando o relatório em HTML
          jmeter -g resultados.jtl -o relatorios

      - name: Upload dos resultados
        uses: actions/upload-artifact@v4
        with:
          name: relatorio-jmeter
          path: relatorios
